#task-inner-body {
  margin: 20px;
}

#task-inner-body .icon {
  cursor: pointer;
}

#task-inner-body button {
  bottom: 7px;
}

#task-inner-body .expand {
  color: blue;
  float: left;
}

#task-inner-body .edit {
  color: blue;
  float: right;
}

#task-inner-body .checkmark {
  color: green;
  float: right;
}

 #task-inner-body .remove {
  color: red;
  float: right;
}

#task-inner-body .segment strong, #task-inner-body .segment a {
  margin-left: 2px;
}
