#task-inner-body {
  margin: 20px;
}

#task-inner-body .segment strong, #task-inner-body .segment a {
  margin-right: 7px;
}

#task-inner-body .edit {
  color: blue;
}

 #task-inner-body .remove {
  color: red;
}
