#expanded-view-modal .edit:hover,
#expanded-view-modal .checkmark:hover,
#expanded-view-modal .remove:hover {
  cursor: pointer;
}

#expanded-view-modal .edit {
  color: blue;
  float: right;
}

#expanded-view-modal .checkmark {
  color: green;
  float: right;
}

 #expanded-view-modal .remove {
  color: red;
  float: right;
}
