#landing-page {
  height: 54vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#segment {
  background-color: #f0f0f0;
  padding: 0 160px 20px 160px;
}

#segment i.list.huge.icon {
  margin-bottom: 32px;
}

#segment h1 {
  display: inline-block;
  font-size: 60px;
  margin-left: 3px;
}

#quote {
  display: block;
  font-size: 18px;
  margin-bottom: 30px
}
