#task-description {
  line-height: 2.5em;
}

#task-description strong:hover,
#task-description .square:hover,
#task-description .edit:hover,
#task-description .checkmark:hover,
#task-description .remove:hover {
  cursor: pointer;
}

#task-description .square {
  float: right;
}

#task-description .edit {
  float: right;
  color: blue;
}

#task-description .checkmark {
  float: right;
  color: green;
}

#task-description .remove {
  float: right;
  color: red;
}

/* Color on top of items */
#task-description.ui.segment:not(.inverted) {
  border-top-width: 5px !important;
}
