.importance-dropdown #black {
  color: black;
}

.importance-dropdown #red {
  color: red;
}

.importance-dropdown #orange {
  color: orange;
}

.importance-dropdown #green {
  color: green;
}

.importance-dropdown #blue {
color: blue;
}
